:root {
    --navy-color: #003752;
    --white-color: #ffffff;
    --margin-bottom: 25px;
    --header-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --border-width: 3px;
    --default-opacity: 0.7;
    --hover-opacity: 1;
    --img-title-bottom: 50px;
    --img-title-left: 30px;
    --border-style: solid;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: var(--header-font);
    background-color: var(--navy-color);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    padding-left: 70px;
    padding-right: 10px;
    background-color: var(--white-color);
    color: var(--navy-color);
    background-image: url("../images/headshot.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

.headshot {
    height: 50px;
    width: 50px;
}

header nav {
    font-family: var(--header-font);
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {  
    margin-left: 25px;
    padding: 5px;
    border-bottom-style: var(--border-style);
    border-bottom-width: var(--border-width);
}

a {
    color: var(--white-color);
    text-decoration: none;
}

.divider {
    height: 250px;
    width: 100%;
    margin-bottom: var(--margin-bottom);
    background-image: url("../images/unsplash.jpg");
    background-size: cover;
    background-position: center;
    color: var(--white-color);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.divider h2 {
    font-size: 30px;
    font-style: oblique;
    padding:10px;
    margin: 50px;
    margin-right: 100px;
    font-family: var(--header-font);
    background-color: var(--white-color);
    color: var(--navy-color);

}

main {
    width: 100%;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.topic {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--navy-color);
    display: flex;
    margin-bottom: var(--margin-bottom);
}

main section div h3 {
    padding-right: 10px;
    font-size: 36px;
    border-right-style: var(--border-style);
    border-right-width: var(--border-width);
    min-width: 157px;
    max-width: 157px;
    margin-right: 20px;
    margin-left: 35px;
}

p {
    font-size: 16px;
    margin-left: 10px;
}

.projects {
    width: 100%;
    height: 100%;
}

.main-project {
    width: 100%;
    height: 100%;
    margin-bottom: var(--margin-bottom);
    display: flex;
    flex-direction: column;
}

.main-project img {
    height: 100%;
    width: 100%;
    margin-left: 10px;
    opacity: var(--default-opacity);
}

.main-project img:hover {
    opacity: var(--hover-opacity);
}

.main-project .title {
    position: relative;
    bottom: var(--img-title-bottom);
    left: var(--img-title-left);
    color: var(--white-color);
}

.secondary-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 50%
}

.secondary-projects section {
    width: 49%;
}
.secondary-projects img {
    height: 80%;
    width: 100%;
    margin-left: 10px;
    opacity: var(--default-opacity);
}

.secondary-projects img:hover {
    opacity: var(--hover-opacity);
}


.secondary-projects .title {
    position: relative;
    bottom: var(--img-title-bottom);
    left: var(--img-title-left);
    color: var(--white-color);
}

h5 {
    font-size: 11px;
}

#contact-me div {
    display: flex;
    align-items: center;
}

#contact-me ul {
    list-style-type: none;
    display: flex;
}

#contact-me ul li {  
    margin-left: 25px;
    padding: 5px;
    border-bottom-style: var(--border-style);
    border-bottom-width: var(--border-width);
}

#contact-me a {
    color: var(--navy-color);
    text-decoration: none;
    text-align: center;
}

#resume p {
    color: var(--navy-color);
    text-decoration: none;
    margin-left: 25px;
    align-self: center;
    font-weight: bold;
}

@media screen and (min-width: 745px) {
    h1.title {
      font-size: 48px;
    }
  }

  @media screen and (max-width: 744px) {
    h1.title {
      font-size: 30px;
    }
  }